!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en-US", "lang" => "en-US"}
  %body(style = "background-color: #fefefe;"){:crap => bad}
    %p#hello#goodbye.greeting.ac hello world!