-# XML prolog
!!! XML
-# XML doctype
!!!
-# HTML-style attributes. Ruby-style attributes are not yet supported.
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  -# generic HTML tag
  %body
    -# '#' and '.' open a new div
    #content
      -# tags with CSS id and classes
      %ul#greetings.multilingual
        -# Tags with inline content
        %li.en hello world!
        %li.es ¡hola mundo!
        %li.pt olá mundo!
        %li.de hallo Welt!
    #goodbye
      %p.es ¡Adiós!