-# Silent comment
-# XML prolog
!!! XML
-# XML doctype
!!!
-# HTML-style attributes. Ruby-style attributes are not yet supported.
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  -# generic HTML tag
  %body
    -# '#' and '.' open a new div
    #content
      -# tags with CSS id and classes
      %ul#greetings.multilingual
        -# Tags with inline content
        %li.en hello world!
        %li.es ¡hola mundo!
        %li.pt olá mundo!
        %li.de hallo Welt!
    #stuff
      This is content.
    #goodbye
      -# Silent code
      - local my_class = 'bye-bye'
      - local goodbye  = '¡Adiós!'
      - local closing  = function() return "The end of the template" end
      -# Silent code with inferred endings
      - for i=1,4 do
        -# Combine classes and ids from various sources
        %p#bye.es(class=my_class id=i)
          -# Printed code as content
          = goodbye
    -# Printed code as inline content
    #the_end= closing()
