!!! XML
!!!
%html{"xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en-US", "lang" => "en-US"}
  %body
    %ul.colors
      %li Red
      %li Yellow
      %li Orange
    %p
      This paragraph should render with the opening tag above the content and
      the closing tag below it.